@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "GlacialIndifference-Bold";
    src: url("../public/GlacialIndifference-Bold.otf");
}

.blog-post h1 {
  @apply text-4xl font-bold mb-2;
}

.blog-post h2 {
  @apply text-3xl font-bold mb-2;
}

.blog-post h3 {
  @apply text-2xl font-bold mb-2;
}

.blog-post h4 {
  @apply text-xl font-bold mb-2;
}

.blog-post h5 {
  @apply text-lg font-bold mb-2;
}

.blog-post h6 {
  @apply font-bold mb-2;
}

.blog-post p {
  @apply mb-4 mt-4;
}

.blog-post table {
  @apply border border-collapse w-full table-auto;
}

.blog-post th {
  @apply border text-left px-4;
}

.blog-post td {
  @apply border px-4;
}

.blog-post blockquote {
  @apply bg-gray-700 border-l-8 border-l-gray-500 m-4 px-4 py-2;
}

.blog-post blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.6em;
  font-family: serif;
}

body {
  background: repeating-linear-gradient(
    -50deg,
    #313137,
    #313137 40px,
    #2c2c32 40px,
    #2c2c32 100px
  );
}

@font-face {
  font-family: "GlacialIndifference-Bold";
  src: url("../public/GlacialIndifference-Bold.otf");
}