@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "GlacialIndifference-Bold";
    src: url("../public/GlacialIndifference-Bold.otf");
}

.blog-post h1 {
  @apply text-5xl font-bold mb-2;
}

.blog-post h2 {
  @apply text-4xl font-bold mb-2;
}

.blog-post h3 {
  @apply text-3xl font-bold mb-2;
}

.blog-post h4 {
  @apply text-2xl font-bold mb-2;
}

.blog-post h5 {
  @apply text-xl font-bold mb-2;
}

.blog-post h6 {
  @apply text-lg font-bold mb-2;
}

.blog-post p {
  @apply text-lg mb-4 mt-4;
}

.blog-post table {
  @apply border border-collapse w-full table-auto overflow-x-scroll block;
}

.blog-post th {
  @apply border text-left px-4;
}

.blog-post td {
  @apply border px-4;
}

.blog-post blockquote {
  @apply bg-gray-700 border-l-8 border-l-gray-500 my-4 sm:mx-4 px-4 py-2;
}

.blog-post blockquote:before {
  @apply text-gray-300 content-['“'] text-8xl leading-[0] font-serif align-[-4rem];
}

body {
  background: repeating-linear-gradient(
    -50deg,
    #313137,
    #313137 40px,
    #2c2c32 40px,
    #2c2c32 100px
  );
}

@font-face {
  font-family: "GlacialIndifference-Bold";
  src: url("../public/GlacialIndifference-Bold.otf");
}